*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans';
}

.shape{
    margin:10px ;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
}

#circle{ 
    border-radius: 50%;
}

#circle:hover{ 
    background: aqua;
}

#square:hover{
    background: red;
}

#diamond{
    rotate: 40deg;
    margin-top: 50px;
}

#diamond:hover{
    background: green;
}

#diamond h1{
    rotate: -45deg;
}


